.navigation {

    margin-top: 2rem;

    ul {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        li {
            a {
                text-decoration: none;
                color: initial;
                padding: 0;
                color: black;
                display: block;
                transition: 0.3s;

                &:hover {
                    color: $color-1;
                    padding-left: 5%;
                    transition: 0.3s;
                }
            }

        }

        .nav-active {
            position: relative;
            color: $color-1;

            &:hover {
                color: $color-1;
                padding-left: 0;
                transition: 0.3s;
            }
        }
    }
}