@charset "UTF-8";
@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}
html {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(243, 243, 243);
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
}

.font-sg {
  font-family: "font-1", sans-serif;
}

li {
  list-style-type: none;
}

.sg-color {
  color: #848C57;
}

.sg-color-secondary {
  color: #8b8b8b;
}

.sg-bg {
  background-color: #848C57;
}

.sg-btn-outline {
  border: #848C57 solid 1px;
  border-radius: 5px;
  padding: 8px;
  color: #848C57;
}

.sg-btn-outline:hover {
  background-color: #FEF9DD;
  transition: 150ms ease-in-out;
}

.sg-bg-hover {
  background-color: #6a7046;
}

.sg-font-size {
  font-size: 1.1rem;
}

.navigation {
  margin-top: 2rem;
}
.navigation ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.navigation ul li a {
  text-decoration: none;
  color: initial;
  padding: 0;
  color: black;
  display: block;
  transition: 0.3s;
}
.navigation ul li a:hover {
  color: #848C57;
  padding-left: 5%;
  transition: 0.3s;
}
.navigation ul .nav-active {
  position: relative;
  color: #848C57;
}
.navigation ul .nav-active:hover {
  color: #848C57;
  padding-left: 0;
  transition: 0.3s;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  width: 200px;
  border-radius: 20px;
  padding: 5px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
  background: url(../../assets/img/main.jpg) center/cover;
}
.logo img {
  height: 40px;
}
.logo h3 {
  margin-left: 10px;
  color: #848C57;
}

.countries {
  text-align: center;
}
.countries .radio-container {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  background: #8b8b8b;
  border-radius: 20px;
  padding: 10px;
  color: rgb(243, 243, 243);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
}
.countries .radio-container input {
  transform: translateY(1px);
}
.countries .radio-container label {
  margin-left: 10px;
  cursor: pointer;
}
.countries input[type=text] {
  padding: 10px;
  border-radius: 40px;
  font-size: 1.3rem;
  border: 3px solid #848C57;
  outline: none;
  transition: 0.4s;
  text-align: center;
  width: 400px;
  margin-bottom: 20px;
}
.countries input[type=text]:focus {
  background: #848C57;
  border-radius: 4px;
  color: rgb(243, 243, 243);
}
.countries button {
  margin: 0 auto 20px;
  background: none;
  border: 2px solid #848C57;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.countries button:hover {
  background: #848C57;
}
.countries ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  border-radius: 10px;
  transition: 0.1s;
}
.card h5 {
  color: gray;
}
.card:hover {
  transform: scale(1.05);
  z-index: 2;
}
.card:hover .infos {
  opacity: 1;
  transform: scaleY(1);
}
.card .infos {
  position: absolute;
  inset: 10%;
  /* marges égales => bloc 80% centré */
  background: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  /* conteneur flex */
  flex-direction: column;
  /* vertical */
  align-items: center;
  /* centre horizontalement */
  justify-content: center;
  /* centre verticalement */
  text-align: center;
  /* texte centré dans les titres */
  border-radius: 10px;
  opacity: 0;
  transform: scaleY(0);
  transition: 0.3s;
}
.card img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: auto;
}/*# sourceMappingURL=index.css.map */